#board {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 75px;
    height: 75px;
    border: solid 1px black;
    background-color: rgb(222, 228, 42);
    font-size: 3em;
    text-align: center;
    line-height: 75px;
    margin: 5px;
    animation: appear 1s;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.8s, color 0.8s, transform 0.8s;
}

.box-clicked {
    background-color: #ccc;
    color: #aaa;
    transform: scale(0.8);
}

@keyframes appear {
    from{
        transform: scale(0) rotate(180deg)
    }
    to {
        transform: scale(1) rotate(0deg)
    }
}

.box.error {
    background-color: rgb(224, 50, 47); 
}

.box.notice {
    background-color: rgb(40, 127, 240); 
    cursor: not-allowed;
}

.box.success {
    background-color: rgb(37, 236, 83);
}